Pregunta7/WindowsFormsApplication1/WindowsFormsApplication1/Service References/ServiceReference1/WebService.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:tns="http://tempuri.org/" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://tempuri.org/">
      <s:element name="Listar_Persona">
        <s:complexType />
      </s:element>
      <s:element name="Listar_PersonaResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="Listar_PersonaResult">
              <s:complexType>
                <s:sequence>
                  <s:element ref="s:schema" />
                  <s:any />
                </s:sequence>
              </s:complexType>
            </s:element>
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="Crear_Persona">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="ci" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="nombre" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="fecha_nac" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="telefono" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="departamento" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="Crear_PersonaResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="Crear_PersonaResult" type="s:boolean" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="Actualizar_Persona">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="ci" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="nombre" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="fecha_nac" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="telefono" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="departamento" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="Actualizar_PersonaResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="Actualizar_PersonaResult" type="s:boolean" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="Eliminar_Persona">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="ci" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="Eliminar_PersonaResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="Eliminar_PersonaResult" type="s:boolean" />
          </s:sequence>
        </s:complexType>
      </s:element>
    </s:schema>
  </wsdl:types>
  <wsdl:message name="Listar_PersonaSoapIn">
    <wsdl:part name="parameters" element="tns:Listar_Persona" />
  </wsdl:message>
  <wsdl:message name="Listar_PersonaSoapOut">
    <wsdl:part name="parameters" element="tns:Listar_PersonaResponse" />
  </wsdl:message>
  <wsdl:message name="Crear_PersonaSoapIn">
    <wsdl:part name="parameters" element="tns:Crear_Persona" />
  </wsdl:message>
  <wsdl:message name="Crear_PersonaSoapOut">
    <wsdl:part name="parameters" element="tns:Crear_PersonaResponse" />
  </wsdl:message>
  <wsdl:message name="Actualizar_PersonaSoapIn">
    <wsdl:part name="parameters" element="tns:Actualizar_Persona" />
  </wsdl:message>
  <wsdl:message name="Actualizar_PersonaSoapOut">
    <wsdl:part name="parameters" element="tns:Actualizar_PersonaResponse" />
  </wsdl:message>
  <wsdl:message name="Eliminar_PersonaSoapIn">
    <wsdl:part name="parameters" element="tns:Eliminar_Persona" />
  </wsdl:message>
  <wsdl:message name="Eliminar_PersonaSoapOut">
    <wsdl:part name="parameters" element="tns:Eliminar_PersonaResponse" />
  </wsdl:message>
  <wsdl:portType name="WebServiceSoap">
    <wsdl:operation name="Listar_Persona">
      <wsdl:input message="tns:Listar_PersonaSoapIn" />
      <wsdl:output message="tns:Listar_PersonaSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="Crear_Persona">
      <wsdl:input message="tns:Crear_PersonaSoapIn" />
      <wsdl:output message="tns:Crear_PersonaSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="Actualizar_Persona">
      <wsdl:input message="tns:Actualizar_PersonaSoapIn" />
      <wsdl:output message="tns:Actualizar_PersonaSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="Eliminar_Persona">
      <wsdl:input message="tns:Eliminar_PersonaSoapIn" />
      <wsdl:output message="tns:Eliminar_PersonaSoapOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="WebServiceSoap" type="tns:WebServiceSoap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="Listar_Persona">
      <soap:operation soapAction="http://tempuri.org/Listar_Persona" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Crear_Persona">
      <soap:operation soapAction="http://tempuri.org/Crear_Persona" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Actualizar_Persona">
      <soap:operation soapAction="http://tempuri.org/Actualizar_Persona" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Eliminar_Persona">
      <soap:operation soapAction="http://tempuri.org/Eliminar_Persona" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="WebServiceSoap12" type="tns:WebServiceSoap">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="Listar_Persona">
      <soap12:operation soapAction="http://tempuri.org/Listar_Persona" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Crear_Persona">
      <soap12:operation soapAction="http://tempuri.org/Crear_Persona" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Actualizar_Persona">
      <soap12:operation soapAction="http://tempuri.org/Actualizar_Persona" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Eliminar_Persona">
      <soap12:operation soapAction="http://tempuri.org/Eliminar_Persona" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="WebService">
    <wsdl:port name="WebServiceSoap" binding="tns:WebServiceSoap">
      <soap:address location="http://localhost:2710/WebSite1/WebService.asmx" />
    </wsdl:port>
    <wsdl:port name="WebServiceSoap12" binding="tns:WebServiceSoap12">
      <soap12:address location="http://localhost:2710/WebSite1/WebService.asmx" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>